:root {
    --clr-blue: hsl(219, 73%, 17%);
    --clr-green: hsl(95, 59%, 44%);

    --clr-gray: hsl(40, 14%, 91%);
    --clr-light-gray: hsl(0, 0%, 94%);
    --clr-dark-gray: rgb(211, 211, 211);

    --new-tag: hsl(335, 87%, 48%);

    --txt-main: 'Roboto', sans-serif;
}

// !Variable Map

//*Color Map

$colors: (
    title: var(--clr-blue),
    body: var(--clr-blue),
    element: var(--clr-gray),
    White: #ffffff,
);

$fontSize: (
    big-title: 4rem,
    title: 2.5rem,
    body: 1.4rem,
    txtMd: 1.6rem,
    txtSm: 1.2rem,
    txtLg: 2rem,
);

$fontWeight: (
    light: 300,
    normal: normal,
    medium: 500,
    bold: 700,
);

@each $name, $color in $colors {
    .#{$name} {
        color: $color;
    }
}
@each $name, $size in $fontSize {
    .#{$name} {
        font-size: $size;
    }
}
@each $tag, $weight in $fontWeight {
    .#{$tag} {
        font-weight: $weight;
    }
}

//!Extends variables

%container {
    padding: 2.3rem 2rem;
}

//!General classes

.capital {
    text-transform: capitalize;
}

.myT-2 {
    margin-top: 2rem;
}
.myT-3 {
    margin-top: 3rem;
}
.myT-6 {
    margin-top: 6rem;
}
.myB-2 {
    margin-bottom: 2rem;
}
.myB-3 {
    margin-bottom: 3rem;
}

.my2 {
    margin: 2rem 0;
}
.my3 {
    margin: 3rem 0;
}
.ml-3 {
    margin-left: 3rem;
}

.pyT-3 {
    padding-top: 3rem;
}
.pyB-3 {
    padding-bottom: 3rem;
}
.pyB-1 {
    padding-bottom: 1rem;
}

.categories {
    width: 100% !important;
}

.transparent {
    background-color: transparent !important;
}

.border-gray {
    border: 1.5px solid var(--clr-dark-gray);
}
.border-bottom {
    border-bottom: 1.2px solid var(--clr-dark-gray);
}

.align-self {
    align-self: end;
}

.sticky {
    position: sticky;
    top: 5rem;
}
.center {
    text-align: center;
}
.bg-white {
    background-color: #fff !important;
}
