@use '../abstracts/variable' as *;

@mixin search($style) {
    .#{$style} {
        width: 50%;

        &__box {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            justify-content: flex-end;
            padding: 0 1.4rem;
            width: 100%;
            border-radius: 3px;
        }

        &__input {
            border: 0;
            outline: 0;
            background-color: transparent;
            padding: 1.2rem 0 1.2rem 1.2rem;
            width: 100%;
            font-family: var(--txt-main);
            color: inherit;
            &::placeholder {
                color: var(--clr-blue);
                text-transform: capitalize;
                font-family: inherit;
            }
        }

        &__btn {
            background-color: transparent;
            outline: 0;
            border: 0;
            width: 2rem;
            height: 4rem;
            cursor: pointer;
            &--icon {
                width: 1.4rem;
            }
        }
        @if $style == topbar {
            &__box {
                background-color: var(--clr-light-gray);
            }
        }
    }
}
